In [1]:
# 아주 간단하게 야구관중수kbo url을 크롤링 해보겠다. 
#테디노트에 나온 kbo크롤링예제를 보고 역대관중현황을 크롤링해봄

In [2]:
#라이브러리 불러오기
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mlp
import seaborn as sns
import requests
from bs4 import BeautifulSoup

#한글 폰트 설정
plt.rcParams['font.family']='NanumGothic'

In [6]:
# 자료 불러오기


req=requests.get('https://www.koreabaseball.com/History/Crowd/History.aspx')  #원하는 자료가 있는 url
soup=BeautifulSoup (req.text,'html.parser') # 해당 url의 html 소스를 긁어옴

#가져오고 싶은 자료가 있는 부분의 클래스의 테이블 긁어오기
tdata=soup.find('table',{'class':'tData tbl-crowd-history mt0'})
series=tdata.find('tbody')
kbodata=series.text
kbodata

'\n\n2019\n691,681(9,607)\n692,163(9,613)\n679,208(9,433)\n1,000,400(13,894)\n983,474(13,659)\n555,225(7,711)\n982,962(13,652)\n453,886(6,304)\n710,274(9,865)\n536,735(7,455)\n\n\n7,286,008(10,119)\n\n\n2018\n752,310(10,449)\n861,729(11,968)\n901,634(12,523)\n1,108,677(15,398)\n1,112,066(15,445)\n734,110(10,196)\n1,037,211(14,406)\n454,754(6,314)\n442,872(6,151)\n668,559(9,286)\n\n\n8,073,742(11,214)\n\n\n2017\n704,857(9,790)\n1,024,830(14,234)\n1,038,492(14,424)\n1,134,846(15,762)\n1,094,829(15,206)\n593,251(8,240)\n892,541(12,396)\n699,380(9,714)\n531,121(7,377)\n686,541(9,535)\n\n\n8,400,688(11,668)\n\n\n2016\n851,417(11,825)\n773,499(10,743)\n852,639(11,842)\n1,157,646(16,078)\n1,165,020(16,181)\n660,472(9,173)\n865,194(12,017)\n782,121(10,863)\n549,125(7,627)\n682,444(9,478)\n\n\n8,339,577(11,583)\n\n\n2015\n524,971 (7,291)\n710,141 (9,863)\n800,962 (11,124)\n1,053,405 (14,630)\n1,120,381 (15,560)\n657,385 (9,130)\n814,349 (11,310)\n510,802 (7,094)\n522,669 (7,259)\n645,465 (8,964)\n\n\n7,360,530 (10,223)\n\n\n2014\n505,045 (7,891)\n663,430 (10,366)\n830,820 (12,982)\n1,167,400 (18,241)\n1,128,298 (17,630)\n475,126 (7,424)\n829,822 (12,966)\n442,941 (6,921)\n467,033 (7,297)\n\n\n\n6,509,915 (11,302)\n\n\n2013\n451,483 (7,054)\n470,526 (7,352)\n770,731 (12,043)\n1,289,297 (20,145)\n1,152,615 (18,010)\n386,893 (6,045)\n912,042 (14,251)\n479,619 (7,494)\n528,739 (8,262)\n\n\n\n6,441,945 (11,184)\n\n\n2012\n544,859 (8,255)\n502,016 (7,493)\n1,368,995 (20,742)\n1,259,480 (18,798)\n1,291,703 (19,571)\n519,794 (7,758)\n1,069,929 (16,211)\n599,381 (8,946)\n\n\n\n\n7,156,157 (13,451)\n\n\n2011\n508,645 (7,592)\n592,653 (8,980)\n1,358,322 (20,273)\n1,191,715 (18,056)\n1,253,735 (18,712)\n464,871 (7,044)\n998,660 (14,905)\n441,427 (6,688)\n\n\n\n\n6,810,028 (12,801)\n\n\n2010\n455,246 (6,898)\n436,285 (6,512)\n1,175,665 (17,813)\n1,010,078 (15,076)\n1,070,673 (16,222)\n397,297 (5,930)\n983,886 (14,907)\n399,496 (5,963)\n\n\n\n\n5,928,626 (11,144)\n\n\n2009\n387,389 (5,782)\n582,005 (8,818)\n1,380,018 (20,597)\n975,333 (14,778)\n1,053,966 (15,731)\n375,589 (5,691)\n841,270 (12,556)\n329,715 (4,996)\n\n\n\n\n5,925,285 (11,138)\n\n\n2008\n387,231 (6,147)\n367,794 (5,838)\n1,379,735 (21,901)\n806,662 (12,804)\n929,600 (14,756)\n372,986 (5,920)\n754,247 (11,972)\n258,077 (4,096)\n\n\n\n\n5,256,332 (10,429)\n\n\n2007\n336,936 (5,348)\n207,232 (3,289)\n759,513 (12,056)\n901,172 (14,304)\n786,054 (12,477)\n322,537 (5,120)\n656,426 (10,419)\n\n\n\n134,559 (2,136)\n\n4,104,429 (8,144)\n\n\n2006\n247,787 (3,933)\n204,148 (3,240)\n441,133 (7,002)\n718,635 (11,407)\n726,359 (11,530)\n244,664 (3,884)\n331,143 (5,256)\n\n\n\n126,385 (2,006)\n\n3,040,254 (6,032)\n\n\n2005\n360,386 (5,720)\n166,197 (2,638)\n652,475 (10,357)\n754,888 (11,982)\n616,679 (9,789)\n218,333 (3,466)\n458,121 (7,272)\n\n\n\n160,764 (2,552)\n\n3,387,843 (6,722)\n\n\n2004\n195,872 (2,923)\n155,881 (2,362)\n307,537 (4,590)\n620,865 (9,407)\n456,726 (6,817)\n128,387 (1,916)\n337,674 (5,116)\n\n\n\n129,036 (1,955)\n\n2,331,978 (4,383)\n\n\n2003\n356,712 (5,405)\n266,111 (3,972)\n150,722 (2,284)\n746,858 (11,147)\n425,782 (6,451)\n162,735 (2,466)\n438,966 (6,552)\n\n\n\n174,915 (2,611)\n\n2,722,801 (5,118)\n\n\n2002\n247,698 (3,697)\n231,955 (3,514)\n127,995 (1,910)\n637,878 (9,665)\n469,080 (7,001)\n158,650 (2,368)\n402,732 (6,102)\n\n\n\n118,582 (1,797)\n\n2,394,570 (4,501)\n\n\n2001\n418,612 (6,343)\n284,486 (4,246)\n400,573 (6,069)\n707,144 (10,554)\n620,094 (9,395)\n233,374 (3,536)\n178,645 (2,666)\n\n\n\n148,136 (2,211)\n\n2,991,064 (5,622)\n\n\n2000\n403,414 (6,021)\n69,203 (1,049)\n451,095 (6,733)\n705,115 (10,684)\n510,862 (7,625)\n155,284 (2,318)\n84,563 (1,281)\n\n\n\n128,013 (1,940)\n\n2,507,549 (4,713)\n\n\n1999\n551,349 (8,354)\n172,729 (2,617)\n770,260 (11,671)\n726,062 (11,001)\n497,409 (7,537)\n218,404 (3,309)\n\n\n\n\n234,455 (3,552)\n49,956 (757)\n3,220,624 (6,100)\n\n\n1998\n462,777 (7,346)\n156,793 (2,489)\n409,735 (6,504)\n577,463 (9,166)\n427,227 (6,781)\n208,880 (3,316)\n\n\n\n\n310,766 (4,933)\n85,478 (1,357)\n2,639,119 (5,236)\n\n\n1997\n542,957 (8,618)\n393,137 (6,240)\n461,196 (7,321)\n1,001,680 (15,900)\n737,392 (11,705)\n226,982 (3,603)\n\n\n\n\n323,123 (5,129)\n216,499 (3,436)\n3,902,966 (7,744)\n\n\n1996\n474,663 (7,534)\n468,922 (7,443)\n787,889 (12,506)\n964,805 (15,314)\n690,258 (10,956)\n369,717 (5,869)\n\n\n\n\n475,910 (7,554)\n265,918 (4,221)\n4,498,082 (8,925)\n\n\n1995\n623,970 (9,904)\n431,302 (6,846)\n1,180,576 (18,739)\n1,264,762 (20,076)\n914,638 (14,518)\n359,611 (5,708)\n\n\n\n\n441,957 (7,015)\n189,558 (3,009)\n5,406,374 (10,727)\n\n\n1994\n518,504 (8,230)\n388,818 (6,172)\n630,883 (10,014)\n1,022,324 (16,227)\n700,914 (11,126)\n316,273 (5,020)\n\n\n\n\n476,277 (7,560)\n140,435 (2,229)\n4,194,428 (8,322)\n\n\n1993\n539,102 (8,557)\n443,841 (7,045)\n843,451 (13,388)\n1,154,308 (18,322)\n700,869 (11,125)\n297,999 (4,730)\n\n\n\n\n304,673 (4,836)\n152,906 (2,427)\n4,437,149 (8,804)\n\n\n1992\n315,708 (5,011)\n390,871 (6,204)\n1,209,632 (19,201)\n615,960 (9,777)\n504,100 (8,002)\n380,391 (6,038)\n\n\n\n\n336,967 (5,349)\n158,463 (2,515)\n3,912,092 (7,762)\n\n\n1991\n357,852 (5,680)\n372,386 (5,911)\n1,001,920 (15,903)\n776,953 (12,333)\n436,026 (6,921)\n377,017 (5,984)\n\n\n\n\n342,593 (5,438)\n160,662 (2,550)\n3,825,409 (7,590)\n\n\n1990\n436,610 (7,277)\n361,074 (6,018)\n654,950 (10,916)\n768,329 (12,805)\n386,968 (6,449)\n309,357 (5,156)\n\n\n\n\n272,200 (4,537)\n\n3,189,488 (7,594)\n\n\n1989\n394,893 (6,582)\n326,607 (5,443)\n584,781 (9,746)\n427,678 (7,128)\n431,352 (7,189)\n298,860 (4,981)\n\n\n\n\n419,498 (6,992)\n\n2,883,669 (6,866)\n\n\n1988\n177,774 (3,292)\n210,959 (3,907)\n648,661 (12,012)\n239,562 (4,436)\n275,061 (5,094)\n211,402 (3,915)\n\n\n\n\n168,726 (3,125)\n\n1,932,145 (5,111)\n\n\n1987\n261,137 (4,836)\n217,616 (4,030)\n583,601 (10,807)\n383,408 (7,100)\n272,217 (5,041)\n148,301 (2,746)\n\n\n\n\n153,395 (2,841)\n\n2,019,675 (5,343)\n\n\n1986\n274,050 (5,075)\n307,814 (5,700)\n523,082 (9,687)\n367,690 (6,809)\n293,357 (5,433)\n198,577 (3,677)\n\n\n\n\n176,542 (3,269)\n\n2,141,112 (5,664)\n\n\n1985\n347,286 (6,314)\n301,188 (5,476)\n377,971 (6,872)\n245,209 (4,458)\n252,731 (4,595)\n\n\n\n\n\n163,980 (2,981)\n\n1,688,365 (5,116)\n\n\n1984\n330,205 (6,604)\n196,278 (3,926)\n429,070 (8,581)\n406,835 (8,137)\n137,385 (2,748)\n\n\n\n\n\n164,947 (3,299)\n\n1,664,720 (5,549)\n\n\n1983\n332,942 (6,659)\n377,964 (7,559)\n397,429 (7,949)\n630,814 (12,616)\n184,536 (3,691)\n\n\n\n\n\n332,436 (6,649)\n\n2,256,121 (7,520)\n\n\n1982\n330,467 (8,262)\n261,182 (6,530)\n264,295 (6,607)\n298,051 (7,451)\n163,822 (4,096)\n\n\n\n\n\n120,951 (3,024)\n\n1,438,768 (5,995)\n\n'

In [10]:
#string형태로 저장되니까 pandas를 이용해 DataFrame화처리

table_rows=tdata.find_all('tr')  #tr태그찾기

res=[]
for tr in table_rows:
    td=tr.find_all('td')
    row=[tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        res.append(row)


df=pd.DataFrame(res,columns=['year','samsung','kia','lotte','lg','doosan','hanhwa','sk','kium','nc','kt','sum'])
df=df.drop(0)
df.head(10)

#여긴 없지만 날짜가 /형식으로 나오면 pd.to_datatime 사용해서 변경

,year,samsung,kia,lotte,lg,doosan,hanhwa,sk,kium,nc,kt,sum
1,2018,"752,310(10,449)","861,729(11,968)","901,634(12,523)","1,108,677(15,398)","1,112,066(15,445)","734,110(10,196)","1,037,211(14,406)","454,754(6,314)","442,872(6,151)","668,559(9,286)","8,073,742(11,214)"
2,2017,"704,857(9,790)","1,024,830(14,234)","1,038,492(14,424)","1,134,846(15,762)","1,094,829(15,206)","593,251(8,240)","892,541(12,396)","699,380(9,714)","531,121(7,377)","686,541(9,535)","8,400,688(11,668)"
3,2016,"851,417(11,825)","773,499(10,743)","852,639(11,842)","1,157,646(16,078)","1,165,020(16,181)","660,472(9,173)","865,194(12,017)","782,121(10,863)","549,125(7,627)","682,444(9,478)","8,339,577(11,583)"
4,2015,"524,971 (7,291)","710,141 (9,863)","800,962 (11,124)","1,053,405 (14,630)","1,120,381 (15,560)","657,385 (9,130)","814,349 (11,310)","510,802 (7,094)","522,669 (7,259)","645,465 (8,964)","7,360,530 (10,223)"
5,2014,"505,045 (7,891)","663,430 (10,366)","830,820 (12,982)","1,167,400 (18,241)","1,128,298 (17,630)","475,126 (7,424)","829,822 (12,966)","442,941 (6,921)","467,033 (7,297)","6,509,915 (11,302)",None
6,2013,"451,483 (7,054)","470,526 (7,352)","770,731 (12,043)","1,289,297 (20,145)","1,152,615 (18,010)","386,893 (6,045)","912,042 (14,251)","479,619 (7,494)","528,739 (8,262)","6,441,945 (11,184)",None
7,2012,"544,859 (8,255)","502,016 (7,493)","1,368,995 (20,742)","1,259,480 (18,798)","1,291,703 (19,571)","519,794 (7,758)","1,069,929 (16,211)","599,381 (8,946)","7,156,157 (13,451)",None,None
8,2011,"508,645 (7,592)","592,653 (8,980)","1,358,322 (20,273)","1,191,715 (18,056)","1,253,735 (18,712)","464,871 (7,044)","998,660 (14,905)","441,427 (6,688)","6,810,028 (12,801)",None,None
9,2010,"455,246 (6,898)","436,285 (6,512)","1,175,665 (17,813)","1,010,078 (15,076)","1,070,673 (16,222)","397,297 (5,930)","983,886 (14,907)","399,496 (5,963)","5,928,626 (11,144)",None,None
10,2009,"387,389 (5,782)","582,005 (8,818)","1,380,018 (20,597)","975,333 (14,778)","1,053,966 (15,731)","375,589 (5,691)","841,270 (12,556)","329,715 (4,996)","5,925,285 (11,138)",None,None